/* ==================
==========================
================================
>> These styles are the same for all pages <<
================================
==========================
================== */

/* default Style  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
  scroll-behavior: smooth;
}

body {
  font-family: primary-font;
  background-color: #f5f6f7;
  color: var(--font-color);
}
::selection {
  color: var(--primary-color);
  background: none;
}
button {
  font-family: inherit;
  box-sizing: border-box;
  cursor: pointer;
}

:root {
  --font-color: #44566c;
  --primary-color: #304cfd;
  --secondary-color: #f3f4f5;
  --black-color: #000;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul li {
  list-style: none;
}
img {
  user-select: none;
}

/* pre loader  */

.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  z-index: 1106;
  opacity: 1;
}

.preloader > * {
  min-width: 0;
}

.preloader__wrap {
  width: 100%;
  max-width: 9.375rem;
}

.circle-pulse > * {
  position: absolute;
  top: 50%;
  right: 50%;
  border-radius: 50%;
  box-sizing: border-box;
  transform: scale(0);
  animation: loading-pulse 1.6s linear infinite;
}

.circle-pulse__1 {
  width: 6rem;
  height: 6rem;
  margin-top: -3rem;
  margin-right: -3rem;
  background-color: #304cfd;
}

.circle-pulse__2 {
  width: 4.8rem;
  height: 4.8rem;
  margin-top: -2.4rem;
  margin-right: -2.4rem;
  background-color: rgba(48, 76, 253, 0.7);
  animation-delay: -0.8s;
}

@-webkit-keyframes loading-pulse {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes loading-pulse {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}

/* mian styles  */
.main {
  position: relative;
}

/* background images  */
.background-image {
  width: clamp(200px, 50%, 450px);
  position: absolute;
  min-width: none;
  z-index: -1;
}

.bg-img-top-right {
  top: 0;
  right: 0;
}

.bg-img-buttom-left {
  bottom: 0;
  left: 0;
}

/* Humberger Menu Style */
.humberger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
}

.list {
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.623);
  backdrop-filter: blur(10px);
  position: fixed;
  transform: translateX(-100%);
  transition: all 1s ease-in-out;
  top: 0;
  left: 0;
  z-index: 5;
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .list {
    background-color: rgba(255, 255, 255, 0.884);
  }
}
.list.menu-active {
  transform: translateX(0);
}

.menu-btn {
  z-index: 2;
  position: fixed;
  top: 20px;
  left: 20px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 50px;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  direction: ltr;
}

.line-2 {
  width: 16px;
  height: 2px;
  margin: 4px 5px 4px 0;
}

.line-1,
.line-3 {
  width: 20px;
  height: 2px;
}

.line-1,
.line-2,
.line-3 {
  background: rgb(255, 255, 255);
  border-radius: 3px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.menu-btn.active {
  background-color: white;
  border: 1px solid var(--primary-color);
}

.line-2.active {
  margin: unset;
  background: transparent;
}

.line-1.active,
.line-3.active {
  background-color: var(--primary-color);
}

.line-3.active {
  margin: -2px 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.line-1.active {
  margin: -2px 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.site-menu {
  color: var(--font-color);
  font-size: 25px;
  font-weight: 400;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-out-anim {
  padding: 5px 0;
  transform: translateX(-100vh);
  animation-name: test;
  animation-duration: 0.2s;
  animation-fill-mode: backwards;
}

@keyframes test {
  from {
    transform: translateX(0);
    opacity: 0.7;
  }

  to {
    transform: translateX(-100vh);
    opacity: 0;
  }
}

.menu-out-anim:nth-child(1) {
  animation-duration: 0.8s;
}

.menu-out-anim:nth-child(2) {
  animation-duration: 0.7s;
}

.menu-out-anim:nth-child(3) {
  animation-duration: 0.6s;
}

.menu-out-anim:nth-child(4) {
  animation-duration: 0.5s;
}

.site-menu-item {
  opacity: 0.7;
  padding: 5px 0;
  transition: all 0.4s;
  animation-name: transformanim;
  animation-fill-mode: forwards;
}

@keyframes transformanim {
  from {
    transform: translateX(-100vh);
    opacity: 0;
  }

  to {
    transform: translateX(0);

    opacity: 1;
  }
}

.site-menu-item:hover {
  color: var(--primary-color);
}

.site-menu-item:nth-child(1) {
  animation-duration: 1s;
}

.site-menu-item:nth-child(2) {
  animation-duration: 1.2s;
}

.site-menu-item:nth-child(3) {
  animation-duration: 1.4s;
}

.site-menu-item:nth-child(4) {
  animation-duration: 1.6s;
}

/* Right Container  */
.right-side {
  padding: 10rem 0 0 0;
}

.right-container {
  width: clamp(250px, 95%, 95%);
  height: auto;
  margin: auto;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  position: relative;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.profile-img {
  margin: auto;
  width: 200px;
  height: 200px;
}

.avatar {
  margin-top: -6rem;
  border-radius: 50px;
  transition: all 0.3s;
}

.name-and-social-icon {
  text-align: center;
  margin-top: -2rem;
  transition: all 0.3s;
}

.name {
  font-family: secondary-font;
  font-weight: 700;
  font-size: 30px;
}

.badge {
  margin-top: 1rem;
  font-size: 16px;
  background-color: #f5f6f7;
  border-radius: 50px;
  display: inline-block;
  padding: 5px;
}

.social-icon-item {
  color: var();
  font-size: 18px;
  margin: 2rem 0.5rem;
  transition: all 0.3s;
}

.social-icon-item:hover,
.my-info a:hover {
  color: var(--primary-color);
}

/* my information style */
.information {
  background-color: #f5f8f9;
  border-radius: 0 0 15px 15px;
  padding: 1rem 1rem;
}

.my-info {
  padding: 8px 0;
}

.my-info p {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
}

.my-info a {
  transition: all 0.2s;
}

.my-info-item-icons {
  font-size: 25px;
  margin-left: 10px;
}

/* cv download button  */

.mycv {
  padding: 1rem 0 2rem 0;
  text-align: center;
}

.my-cv-btn {
  width: clamp(250px, 90%, 90%);
  margin: auto;
  padding: 10px 0;
  background-color: var(--primary-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 400;
  border: none;
  border-radius: 20px;
  transition: all 0.5s;
  box-shadow: rgba(48, 76, 253, 0.15) 0px 8px 16px 0px, rgba(48, 76, 253, 0.15) 0px 2px 4px 0px;
}

.my-cv-btn:hover {
  box-shadow: none;
  opacity: 0.9;
}

.my-cv-btn .fa-file-download {
  margin: 0 10px;
  font-size: 20px;
}

/* Left Container Style  */
.left-container {
  width: clamp(250px, 95%, 95%);
  margin: 20px auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 15px;
  background-color: white;
}

.content {
  font-size: 16px;
  font-weight: 400;
}

.content-heading {
  font-family: secondary-font;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  padding: 1rem;
}

.content-heading::before {
  position: absolute;
  bottom: 10px;
  background-color: var(--primary-color);
  height: 4px;
  border-radius: 50px;
  content: "";
  width: 50px;
}

/* arrow up */
.arrow-up {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-100px);
  position: fixed;
  width: 45px;
  height: 45px;
  left: 10px;
  bottom: 20px;
  font-size: 40px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.425);
  transition: all 0.3s;
  z-index: 4;
}

.arrow-up-active {
  transform: translateX(0);
}
/* developer information  */

.dev-info {
  padding: 1rem;
  text-align: center;
  opacity: 0.7;
  font-weight: 700;
  font-size: 16px;
  transition: all 0.5s;
}

.heart-pulse {
  animation: pulse-red 1.5s infinite;
}

@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    filter: drop-shadow(0px 0px 0px rgb(245, 40, 40));
  }

  70% {
    transform: scale(1);
    filter: drop-shadow(0px 0px 10px rgb(245, 40, 40));
  }

  100% {
    transform: scale(0.95);
    filter: drop-shadow(0px 0px 25px rgb(245, 40, 40));
    animation-duration: 0s;
  }
}

/* Responsived for min width 576px */
@media screen and (min-width: 576px) {
  .right-container {
    width: 510px;
  }

  .left-container {
    width: 510px;
    position: relative;
    overflow: hidden;
  }

  /* Humberger Menu Style for desktop */
  .humberger {
    position: unset;
    height: 20px;
    margin-bottom: 0.5rem;
  }

  .list {
    width: 0;
    height: 55px;
    background-color: var(--primary-color);
    position: absolute;
    transition: all 1s;
    transform: unset;
    top: 0;
    left: 0;
    margin-left: 25px;
    z-index: 1;
    border-radius: 0 30px 50px 10px;
  }

  .list.menu-active {
    width: 485px;
    transform: unset;
    transition: all 0.5s;
  }

  .menu-btn {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    height: 55px;
    width: 55px;
    cursor: pointer;
    border-radius: 30px 50px 50px 50px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    direction: ltr;
  }

  .line-2 {
    width: 20px;
    height: 3px;
    margin: 5px 5px 5px 0;
  }

  .line-1,
  .line-3 {
    width: 26px;
    height: 3px;
  }

  .line-1,
  .line-2,
  .line-3 {
    background: rgb(255, 255, 255);
    border-radius: 3px;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }

  .menu-btn.active {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }

  .line-2.active {
    margin: unset;
    background: transparent;
  }

  .line-1.active,
  .line-3.active {
    background-color: white;
  }

  .line-3.active {
    margin: -3px 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .line-1.active {
    margin: -3px 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .site-menu {
    color: white;
    font-size: 16px;
    font-weight: 400;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    opacity: 0.9;
  }

  .menu-out-anim {
    color: white;
    padding: 0 15px;
    transform: unset;
    animation-duration: 0s;
    animation-name: menuout;
    animation-fill-mode: forwards;
  }

  @keyframes menuout {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-100px);
      opacity: 0;
    }
  }

  .menu-out-anim:nth-child(1) {
    animation-duration: 0.3s;
  }

  .menu-out-anim:nth-child(2) {
    animation-duration: 0.2s;
  }

  .menu-out-anim:nth-child(3) {
    animation-duration: 0.1s;
  }

  .menu-out-anim:nth-child(4) {
    animation-duration: 0s;
  }

  .site-menu-item {
    transition: unset;
    animation-name: transformanim;
    animation-fill-mode: forwards;
  }

  .site-menu-item:hover {
    color: unset;
  }

  .site-menu-item:nth-child(1) {
    animation-duration: 0.7s;
  }

  .site-menu-item:nth-child(2) {
    animation-duration: 0.8s;
  }

  .site-menu-item:nth-child(3) {
    animation-duration: 0.9s;
  }

  .site-menu-item:nth-child(4) {
    animation-duration: 1s;
  }
}

/* Responsived for min width 768px */
@media screen and (min-width: 768px) {
  .right-container {
    width: 690px;
  }

  .left-container {
    width: 690px;
  }

  .list {
    border-radius: 0 50px 50px 10px;
    height: auto;
  }

  .my-info-box-father {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
  }

  .my-info-item-icons {
    margin-left: unset;
    margin-right: 10px;
  }
  .my-cv-btn {
    width: 50%;
  }
}

/* Responsived for min width 992px */
@media screen and (min-width: 992px) {
  .right-container {
    width: 930px;
  }

  .left-container {
    width: 930px;
  }

  .my-info-box-father {
    width: 100%;
  }

  .my-cv-btn {
    width: 40%;
  }
}

/* Responsived for min width 1200px */
@media screen and (min-width: 1200px) {
  .main-section {
    display: flex;
    justify-content: center;
    padding: 10rem 0 0 0;
  }

  .right-side {
    padding: 0 0 55px 0;
    margin-left: 2rem;
    position: sticky;
    top: 30px;
  }

  .right-container {
    width: 280px;
  }
  .my-info-item-icons {
    margin-left: 10px;
    margin-right: unset;
  }
  .left-container {
    max-width: 900px;
    margin: auto;
  }

  .my-info-box-father {
    display: unset;
  }

  .my-cv-btn {
    width: 90%;
  }
}
